<div class="container" id="map-container">
    <div id="map-menu">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Waste Type
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-form" id="waste-type">
                                <li>
                                    <input type="checkbox" id="waste-type-1" value="Barbeque Fork">
                                    <label for="waste-type-1">Barbeque Fork</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="waste-type-2" value="Clothes">
                                    <label for="waste-type-2">Clothes</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="waste-type-3" value="Electrical and Electronic Equipment">
                                    <label for="waste-type-3">Electrical and Electronic Equipment</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="waste-type-4" value="Fluorescent Lamp">
                                    <label for="waste-type-4">Fluorescent Lamp</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="waste-type-5" value="Glass Bottles">
                                    <label for="waste-type-5">Glass Bottles</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="waste-type-6" value="Metals">
                                    <label for="waste-type-6">Metals</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="waste-type-7" value="Paper">
                                    <label for="waste-type-7">Paper</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="waste-type-8" value="Plastics">
                                    <label for="waste-type-8">Plastics</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="waste-type-9" value="Rechargeable Batteries">
                                    <label for="waste-type-9">Rechargeable Batteries</label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown" id="travel-type">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Travel mode
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li data-id="walking" class="active">
                                    <a>Walking</a>
                                </li>
                                <li data-id="driving">
                                    <a>Driving</a>
                                </li>
                                <li data-id="transit">
                                    <a>Public Transport</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </nav>
    </div>
    <div id="map"></div>
</div>