/* navbar */

.navbar {
    margin-bottom: 0;
    background:green;
    border-radius: 0;
}

.navbar a {
    color: white;
    font-weight: 800;
    
}

/* .navbar-nav li a {
    /* border: 2px solid white;  
} */

.navbar-brand {
    pointer-events:none;
}

#wrap {
    border: 1px solid lightgray;
    background: #EDE8DF;  
    padding-top: 10px;
}

body > div {
    background: #8BC63E; 
}

/* only apply to p right after h1 */
h1+p {
    color: green;
}

#tabs {
    margin-bottom: 20px;
}


#map-container {
    width: 100%;
}

#map-menu {
    z-index: 5;
    width: 100%;
}

#map-container .navbar-default {
    background-color: white;
}

#map-container .navbar {
    padding:0;
    margin-bottom: 0;
}

#map-container .dropdown, #map-container .dropdown-menu {
    min-width: 24vw;
}

.dropdown-menu {
    padding: 0;
}

/* Map and search query section */
#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
}

h1 {
    color:green; 
    font-weight: 800;
}

#current {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
}

#search {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.input-group-btn {
   height: 34px;
   vertical-align: bottom;
   padding-top: 0;
}

/* Waste Type filter section */

#waste-type > li:first-child {
    background-color: #FF0000;
}

#waste-type > li:nth-child(2) {
    background-color: #FFA500;
}

#waste-type > li:nth-child(3) {
    background-color: #800080;
}

#waste-type > li:nth-child(4) {
    background-color: #ADD8E6;
}

#waste-type > li:nth-child(5) {
    background-color: #008000;
}

#waste-type > li:nth-child(6) {
    background-color: #FFFF00;
}

#waste-type > li:nth-child(7) {
    background-color: #0000FF;
}

#waste-type > li:nth-child(8) {
    background-color: #8B4513;
}

#waste-type > li:nth-child(9) {
    background-color: #999999;
}

/* Current Location Search Button */
.btn-green,
.btn-secondary {
    background: green;
    border: none;
    color: white;
    font-weight: 700;
}

.btn-secondary {
    padding-top: 8px;
}

.btn-green:hover, 
.btn-green:focus {
    background:#8BC63E;
}

.btn-green:active {
background:lightgreen;
}

h4, h5 {
    font-size: 16px;
    font-weight: 700;
} 


/* Search Result List */

h3 {
    font-size: 20px;
    font-weight: 700;
}

#listBox {
    margin: 20px 0;
    background-color: lightgreen; 
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

#listBox:hover,
#listBox a:hover,
#listBox:focus {
    background:#8BC63E;
    cursor: pointer;
    text-decoration: none;

}

.align-left {
    text-align: left;
    margin: 0 5vw;
}

#listBox:active {
    background:lightgreen;
}

h7 {
    color: green;   
    font-weight: 900;
}





/* CSS for profile/dashboard page */

/* #wrap-inner > div {
    margin-left: 10px;
} */

/* CSS for profile/dashboard page - User greeting/info */

h8, h9, h10 {
    font-size: 3vw;
    font-weight: 700;
}

#userinfo > div {
    width: 40%;
    margin: 0 auto;
    padding: 20px 0;
}

#searchhistory,
#actionhistory {
    background-color: lightgreen;
    margin: 20px 0;
    padding: 10px 10px 80px 10px;
}

#userinfo {
    padding: 10px 0 20px 10px;
}

/* CSS for profile/dashboard page - Random display section */

#randomgenerator p {
    color: black;
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 700;
}
  
img {
    margin: 0 auto;
}

/* CSS for profile/dashboard page - overlap of two divs */

#wrap-inner {
    position: relative; /* do not change this */
    z-index:1;
    /* width: 80%; */
}

#panel-wrapper {
    position: absolute; /* do not change this */
    z-index:2;
    /* Below CSS will get the exact anchor point as the #wrap-inner
    as well as change its height according to its parent element which is #wrap-inner */
    top: 0;
    left: 0;
    bottom: 0;
}

/* CSS for profile/dashboard page - panel section */

#panel
{
     height: 800px;
     width: 300px;
    padding:20px;
     background: #eee;
     float: left;
     display: none;    
     color: #666;
     font-size: 1vw;
}
.open
{
     height: 20px;
     width: 70px;
     background: green;
    padding:20px 55px 40px 20px;
     float: left; 
     margin: 200px 0 20px 0;
    color:#fff;
    cursor: pointer;
}

#inner {
    width: 80%;
    margin: 0 auto;
}

/* CSS for profile/dashboard page - search history section */
#mocklist {
    width: 70%;
    margin: 0 auto;
}

#searcheddata {
    background:#8BC63E;
    margin: 20px 10px;
    padding: 10px 20px;
}


